.boxmodel{

    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px;
    margin: 0px 20px;
}
li{
    list-style: none;
    color: snow;
    display: inline-block;
}

span {
    font-size: 50px;
}